# requirements.txt (đoạn liên quan)
pandas==2.3.1
pymongo==4.6.0
tqdm==4.66.4
SQLAlchemy==2.0.42
pydantic==2.11.7
PyMuPDF==1.26.3
regex==2022.1.18
python-dotenv==1.0.0
uvicorn[standard]==0.35.0
dateparser==1.1.1
sqlglot==27.8.0
psycopg2-binary==2.9.3
fastapi==0.116.1
qdrant-client==1.13.0

# ---- LangChain stack (0.3.x) ----
langchain>=0.3.0,<0.4.0
langchain-community>=0.3.0,<0.4.0
langchain-core>=0.3.68,<0.4.0
langchain-qdrant==0.1.4
langchain-google-genai==2.1.9
mistralai==0.1.7
streamlit==1.35.0
langgraph==0.6.6
gpt4all==2.8.2
langchain_deepseek==0.1.0
python-multipart==0.0.5
google-cloud-storage==3.3.0