pandas==2.3.1
pymongo==4.6.0
tqdm==4.66.4
sqlalchemy==2.0.42
pydantic==2.11.7
fitz==0.0.1.dev2
langchain==0.2.5
langchain-core==0.3.74
langchain-community==0.3.24
langchain-qdrant==0.1.4
qdrant-client==1.7.0
mistralai==0.1.7
regex==2025.7.34
python-dotenv==1.0.0
PyMuPDF==1.26.3